* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* forgot password */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E6E6E6;
    color: #1E489E;
    font-size: 20px;
}

.forgot__password {
    padding: 50px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    width: 50%;
}

.forgot__password__section2 label {
    display: block;
    margin-bottom: 5px;
}

.forgot__password input {
    width: 90%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
}

.forgot__password__section1 button {
    background-color: #E6E6E6;
    color: #1E489E;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

@media screen and (max-width: 1000px) {
    .forgot__password {
        padding: 20px;
        width: 80%;
    }

}